@keyframes evolutie1 {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.1);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.1);
    }

    35% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.1);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.1);
    }

    52% {
        transform: scale(0.1);
    }

    4% {
        transform: scale(1);
    }

    96% {
        transform: scale(0.1);
    }

    98% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.1);
    }
}



/* -------------------------- 
 ---------- Drag -----------
 ----------------------------  */


.draggable {
    /* background-image: url('../images/items/dawnstone.png');
    background-size: cover;
    position: relative;
    height: 150px;
    width: 150px;
    cursor: pointer; */
}

.droppable {
    /* background-image: url('../images/pokemons/eevee.png');
    background-size: cover;
    height: 150px;
    width: 150px; */
}

.dragging {
    border: 4px yellow solid;
    transform: scale(5);
}

.drag-over {
    /* background-color: #f4f4f4; */
    /* background-image: url("../images/pokemons/flareon2.png"); */
    border-style: dashed;
    transform: scale(1.1);
}

.invisible {
    display: none;
}

.droppable>.draggable {
    transform: scale(2);
}





header ul li:nth-child(1) button label {
    position: relative;
    display: inline-block;

    width: 60px;
    height: 34px;

}

header ul li:nth-child(1) button label input {
    opacity: 0;
    width: 0;
    height: 0;

    cursor: url("../cursors/Link.cur"), auto;
}

header ul li:nth-child(1) button label span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ccc;

    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

header ul li:nth-child(1) button label span:before {
    content: "";

    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;

    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}

header ul li:nth-child(1) button label input:checked+span {
    background-color: red;
}

header ul li:nth-child(1) button:focus>label span {
    background-color: red;
}

header ul li:nth-child(1) button label input:focus+span {
    box-shadow: 0 0 1px #2196F3;
}

header ul li:nth-child(1) label input:checked+span:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}