/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*--------------------------------- 
---------- FONTS INLADEN ---------- 
-----------------------------------*/

@font-face {
  font-family: "gameboy-font";
  src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot");
  src: url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.woff") format("woff"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3ada9815c06d2619d52d16a5601c96b2.svg#Early GameBoy") format("svg");
}

@font-face {
  font-family: "pokemon-font";
  src: url("../fonts/pokemon/Pokemon_GB.ttf") format('truetype'),
    url('../fonts/pokemon/Pokemon_GB.woff') format('woff');
}


/*--------------------------------------
----------- CUSTOM PROPERTIES ----------- 
-----------------------------------------*/

:root {
  --min-width-main: 1000px;
  --max-width-main: 1400px;

  --gameboy-font: gameboy-font;
  --pokemon-font: pokemon-font;

  --tekst-venster-line-height: 2em;
  --tekst-venster-bg: #ffffff;
  --tekst-venster-kleur: #000000;


  /* VERSCHILLENDE BOXEN/GEBIEDEN */

  /* Normale gebied */
  --normale-gebied-licht: #F8CE9D;
  --normale-gebied-donker: #9D7443;

  /* gras gebied */
  --gras-gebied-licht: #C8F8C0;
  --gras-gebied-donker: #78A068;

  /* Ijs gebied */
  --ijs-gebied-licht: #bad4e2;
  --ijs-gebied-donker: #98acba;

  /* Items */
  --item-lijst-bg: #ffd780;
  --item-lijst-accenten: #e6b347;
  --item-lijst-kleuren: #534323;

  --item-lijst-titel-bg: #e6b347;
  --item-lijst-titel-kleur: #000000;

  --item-lijst-focus: blue;

  /* uitzondering eevee knop kleuren */
  --umbreon-knop-kleur: black;
}

@media (prefers-color-scheme:light) {
  :root {
    --body-bg: #9D7443;
    --header-focus: black;

    --venster-bg: #F8F0D8;

    --venster2-info-lijst-bg: #D0C8B8;

    /* --item-lijst-bg: #ffd780;
    --item-lijst-accenten: #e6b347;
    --item-lijst-kleuren: #534323;

    --item-lijst-titel-bg: #e6b347;
    --item-lijst-titel-kleur: #000000; */

    --normale-gebied-bg: #9D7443;
    --gras-gebied-bg: #78A068;
    --ijs-gebied-bg: #98acba;

    --tekstKleur: green;
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --body-bg: #402d16;
    --header-focus: #f4ae17;

    --venster-bg: rgb(27, 26, 26);

    --venster2-info-lijst-bg: rgb(54, 53, 53);

    /* --item-lijst-bg: #ffd780;
    --item-lijst-accenten: #e6b347;
    --item-lijst-kleuren: #534323;

    --item-lijst-titel-bg: #e6b347;
    --item-lijst-titel-kleur: #000000; */

    --normale-gebied-bg: #402d16;
    --gras-gebied-bg: #3d622e;
    --ijs-gebied-bg: #2f5b7b;

    --tekst-kleur: white;
  }
}



html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 5em;
}

body {
  background-color: var(--body-bg);
  /* background-image: url("../images/achtergronden/aarde2.png"); */

  margin-top: 4em;

  font-family: var(--pokemon-font);
  font-size: 12px;
  /* color: yellow; */

  /* zorgt ervoor dat tekst niet geselecteerd kan worden */
  user-select: none;

  /* zorgt ervoor dat er een vaste breedte is */
  min-width: var(--min-width-main);
  max-width: var(--max-width-main);

  /* standaard cursor */
  cursor: url("../images/cursors/Alternate.cur"), auto;
}

body.slepen {
  /* verandert de cursor naar "vastpakken" wanneer je een "Evalutatie steen" vastpakt */
  cursor: url("../images/cursors/Move.cur"), auto;
}

/* textshadow op alle tekst toepassen */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  text-shadow: 0.75px 0.75px 1.5px rgba(0, 0, 0, 0.5);
  color: var(--tekst-kleur);
}

h1 {
  font-size: 18px;
}

img {
  /* zorgt ervoor dat plaatjes niet gesleept kunnen worden */
  /* https://caniuse.com/?search=user-drag */
  user-drag: none;
  -webkit-user-drag: none
}

/* -------------------------- 
 ----------- Header --------- 
 ----------------------------  */

header {
  width: 100%;

  background-color: var(--venster-bg);

  padding: 2em;
  margin: 2em 0;

  border: 0.5em solid gray;
  border-radius: 0.75em;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 5em;

  height: 1em;
}

header ul li {
  list-style-type: none;
}

header ul li button:focus>label {
  font-weight: 600;
  font-size: 14px;
  color: var(--header-focus);
}

/* selecteert alle radio-buttons */
header ul li button input[type='radio'] {
  display: none;
}

header ul li button input:checked+label {
  font-weight: 600;
}



/* ----------------------- 
---------- MAIN ----------
--------------------------*/

main {
  display: flex;
  gap: 3em;

  /* min-width: var(--min-width-main);
  max-width: var(--max-width-main); */
}



/* ALGEMEEN STIJLING - VENSTERS -  */

article {
  background-color: var(--venster-bg);

  padding: 2em;

  border: 0.5em solid gray;
  border-radius: 0.75em;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  position: relative;
}



/* ALGEMENE STIJLING - BUTTONS  */

button,
input,
label {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  cursor: url("../images/cursors/Link.cur"), auto;
  font-family: var(--pokemon-font);

  font-size: 12px;
}

button:hover,
button:focus {
  outline: none;
}



/* ---------------------------- 
---------- VENSTER 1 ----------
-------------------------------*/

article:nth-child(1) {
  width: 40%;
}

article:nth-child(1) section:nth-child(1) {
  height: 40em;

  padding: 0 3em;

  background-image: url("../images/achtergronden/aarde2.png");

  border: 0.5em solid gray;
  border-radius: 0.75em;

  box-shadow: inset 15px 15px 0px var(--normale-gebied-licht), inset -15px -15px 0px var(--normale-gebied-donker);

  overflow: hidden;
}


/* ALLE EEVEE'S */

article:nth-child(1) section:nth-child(1) ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4em;

  margin: 0;
  padding: 1em 0;
}

article:nth-child(1) section:nth-child(1) ul li {
  list-style: none;

  margin: 0;
  padding: 0;
}

article:nth-child(1) section:nth-child(1) ul li button {
  margin: 0;
  padding: 0;
}

article:nth-child(1) section:nth-child(1) ul li button:hover,
article:nth-child(1) section:nth-child(1) ul li button:focus {
  transform: translateY(-1em);
}

article:nth-child(1) section:nth-child(1) ul li button img {
  height: 4em;
}



/* -------------------------------- 
---------- TEKST VENSTER ----------
-----------------------------------*/

article:nth-child(1) section:nth-child(2) {
  margin-top: 2em;
  padding: 1.5em 2em;

  height: 12em;

  font-size: 12px;

  background-color: var(--tekst-venster-bg);

  border: 0.5em solid var(--normale-gebied-donker);
  border-radius: 0.75em;

  box-shadow: inset 0px 0px 0px 5px var(--normale-gebied-licht);

  /* overflow-y: scroll; */
}


/* BOXEN/GEBIEDEN */

/* gras gebied properties */
.gras-gebied article:nth-child(1) section:nth-child(1) {
  box-shadow: inset 15px 15px 0px var(--gras-gebied-licht), inset -15px -15px 0px var(--gras-gebied-donker);
}

.gras-gebied article:nth-child(1) section:nth-child(2) {
  border: 0.5em solid var(--gras-gebied-donker);
  box-shadow: inset 0px 0px 0px 5px var(--gras-gebied-licht);
}

.gras-gebied article:nth-child(1) section:nth-child(2) {
  box-shadow: inset 0px 0px 0px 5px var(--gras-gebied-licht);
}

/* ijs gebied properties */
.ijs-gebied article:nth-child(1) section:nth-child(1) {
  box-shadow: inset 15px 15px 0px var(--ijs-gebied-licht), inset -15px -15px 0px var(--ijs-gebied-donker);
}

.ijs-gebied article:nth-child(1) section:nth-child(2) {
  border: 0.5em solid var(--ijs-gebied-donker);
  box-shadow: inset 0px 0px 0px 5px var(--ijs-gebied-licht);
}

.ijs-gebied article:nth-child(1) section:nth-child(2) {
  box-shadow: inset 0px 0px 0px 5px var(--ijs-gebied-licht);
}


article:nth-child(1) section:nth-child(2) button p {
  padding: 0;
  margin: 0;

  font-size: 12px;
  text-align: left;
  color: var(--tekst-venster-kleur);

  line-height: var(--tekst-venster-line-height);
  text-shadow: 0.75px 0.75px 1.5px rgba(0, 0, 0, 0.5);
}



/* ----------------------------- 
---------- TYPEWRITER ----------
--------------------------------*/

/* https://codepen.io/alvaromontoro/pen/LYLZOrE */

article:nth-child(1) section:nth-child(2) button p.typewriter {
  --bgColor: white;
  --lines: 500;
  --lineHeight: var(--tekst-venster-line-height);
  --timePerLine: 1.5s;
  /* --widthCh: 22; */
  --width: calc(var(--widthCh) * 1ch);
  /* do not touch the time property!!! */
  --time: calc(var(--lines) * var(--timePerLine));
  animation: grow var(--time) steps(var(--lines));
  animation-fill-mode: forwards;
  background: var(--bgColor);
  line-height: var(--lineHeight);
  max-height: var(--lineHeight);
  overflow: hidden;
  position: relative;
  width: var(--width);
  /* word-break: break-all; */
}

article:nth-child(1) section:nth-child(2) button p.typewriter::before {
  content: "";
  animation:
    type var(--timePerLine) linear infinite,
    carriageReturn var(--time) steps(var(--lines)) var(--lines),
    caret 0.5s steps(2) infinite;
  background: var(--bgColor);
  /* border-left: 2px solid; */
  bottom: 0;
  height: 2rem;
  position: absolute;
  right: 0;
  width: 100%;
}


/* ANIMTIES VOOR - TYPEWRITER */

/* verandert de line-height */
@keyframes grow {
  0% {
    max-height: var(--lineHeight);
  }

  100% {
    max-height: calc(var(--lineHeight) * var(--lines));
  }
}

/* springt naar volgende regel */
@keyframes carriageReturn {
  0% {
    top: 0;
  }

  100% {
    top: calc(var(--lineHeight) * var(--lines));
  }
}

/* typen */
@keyframes type {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}




/* ----------------------------- 
---------- VENSTER 2 -----------
--------------------------------*/

article:nth-child(2) {
  width: 60%;

  padding-right: 0;

  display: flex;
  justify-content: space-between;
}

article:nth-child(2) section:nth-child(2) section img {
  height: 15em;
  position: relative;
  /* background-color: red; */
}

article:nth-child(2) ul {
  padding: 0.2em;
  margin: 0;

  border-radius: 0.5em;

  width: 50%;

  background-color: var(--venster2-info-lijst-bg);
}

article:nth-child(2) ul li {
  list-style-type: none;



  border-radius: 0.3em;

  text-transform: none;
}

article:nth-child(2)>ul li {
  padding: 0.75em 0 1.5em 0.75em;
}

/* spreekt alleen li-items aan die even zijn 2,4,6 etc. */
article:nth-child(2)>ul li:nth-child(odd) {
  background-color: var(--venster-bg);

  padding: 0.75em 0 0.75em 0.75em;

  text-transform: uppercase;
}

article:nth-child(2) p {
  margin: 0;
  padding: 0;
}

article:nth-child(2)>ul li h2 {
  margin: 0;

  font-size: 12px;
}



/* ----------------------------- 
---------- EVOLUEREN -----------
--------------------------------*/

article:nth-child(2) section {
  padding: 0;
  margin: 0 auto;
}

article:nth-child(2) section:nth-child(2)>section {
  position: relative;
  width: 100%;

  transform-origin: center center;
}

/* normale Eevee - evolueren met steen, na slepen */
article:nth-child(2) section:nth-child(2) section>img:nth-child(1).evolve {
  animation-name: veranderNaarWit, evolutie, evolutie, evolutie, geevolueerd;
  animation-duration: 1s, 0.5s, 0.2s, 0.12s, 0s;
  animation-iteration-count: 1, 4, 12, 24, 1;
  animation-fill-mode: forwards, none, none, none, forwards;
  animation-delay: 0s, 1s, 3s, 5.2s, 7.6s;
  animation-timing-function: linear;
  animation-direction: normal, alternate, alternate, alternate, alternate;
}

/* eevee die gevolueerd is */
article:nth-child(2) section:nth-child(2) section>img:nth-child(2) {
  position: absolute;
  right: 0;
  transform: scale(0.1);

  z-index: 1;
  opacity: 0;

  filter: brightness(0) invert(1);
}

/* evaluatie Eevee - evolueren met steen, na slepen */
article:nth-child(2) section:nth-child(2) section>img:nth-child(2).evolve {
  animation-name: display, evolutie, evolutie, evolutie, geevolueerd;
  animation-duration: 0.1s, 0.5s, 0.2s, 0.12s, 0.35s;
  animation-iteration-count: 1, 4, 12, 24, 1;
  animation-delay: 1s, 1s, 3s, 5.2s, 7.6s;
  animation-fill-mode: forwards, none, none, none, forwards;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}


/* ANIMTIES VOOR - EVALUATIE */

/* verandert de images naar wit */
@keyframes veranderNaarWit {
  0% {
    filter: brightness(1) invert(0);
  }

  100% {
    filter: brightness(0) invert(1);
  }
}

/* zorgt ervoor dat evaluatie eevee, niet zichtbaar wordt*/
@keyframes display {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* de evaluatie zelf, heen en weer */
@keyframes evolutie {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.1);
  }
}

/* verandert de posities na evaluatie */
@keyframes geevolueerd {
  0% {
    transform: scale(1);
    filter: brightness(1) invert(0);
  }

  100% {
    transform: scale(0.01);
    filter: brightness(0) invert(1);
  }
}


/* UITZONDERING EEVEE'S */

/* uitzondering eevee knop */
article:nth-child(2) section>button {
  /* background-color: red; */

  width: calc(40% - 5em);

  position: absolute;
  right: 0;

  margin: 2em 5em 0 0;
  padding: 1.5em;

  line-height: 1.5em;

  /* display: none; */
  opacity: 0;

  font-size: 10px;
}

.umbreon-knop {
  color: var(--umbreon-knop-kleur);
}


/* ---------------------------- 
---------- ITEM BAG -----------
-------------------------------*/

article:nth-child(2)>button {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 2em 1em;

  background-image: url("../images/items/new-bag.png");
  background-size: cover;

  height: 75px;
  width: 75px;

  z-index: 1;

  cursor: url("../images/cursors/Link.cur"), auto;
}

/* verandert de posities na evaluatie */
article:nth-child(2)>button.openklappen {
  background-image: url("../images/items/new-bag-open.png");

  height: 75px;
  width: 75px;
}

/* focus op item-bag */
article:nth-child(2)>button:focus {
  /* outline: auto; */

  /* background-image: url("../images/items/new-bag-open.png"); */
}



/* ------------------------- 
---------- ITEMS -----------
----------------------------*/

article:nth-child(2) section ul {
  background-color: var(--item-lijst-bg);

  position: absolute;
  bottom: 0;
  right: 0;

  margin: 2em;
  padding: 1em;

  width: 40%;
  height: 30em;

  overflow-y: scroll;

  transform: scale(0.15);
  transform-origin: right bottom;

  transition: 0.5s;
  opacity: 0;
}

article:nth-child(2) section ul.openklappen,
article:nth-child(2) section ul:focus-within {
  transform: scale(1);
  opacity: 1;
}

article:nth-child(2) section ul li {
  position: relative;

  border-radius: 0;

  padding: 1.5em 0 0.75em 0.75em;
}

article:nth-child(2) section ul li h3 {
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: var(--item-lijst-titel-kleur);
  font-size: 12px;
  font-weight: bold;
}

article:nth-child(2) section ul li button {
  margin: 0;

  display: flex;
  justify-content: space-between;

  align-items: end;

  width: 100%;
}

article:nth-child(2) section ul li button h4 {
  margin: 0;
  padding: 0;

  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  color: var(--item-lijst-kleuren);
}

article:nth-child(2) section ul li:last-child {
  margin-bottom: 6em;
}

article:nth-child(2) section ul li button:focus h4 {
  color: var(--item-lijst-focus)
}

article:nth-child(2) section ul li button:focus {
  padding-left: 5%;
}

/* pijltje bij item selectie -  inspiratie: https://codepen.io/carstenmeyer/pen/MjYZBr */
article:nth-child(2) section ul li button:focus:before {

  content: "";

  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.5em solid #737373;

  padding-right: 0.5em;

  display: inline-flex;
  /* vertical-align: center; */
  align-items: center;

  position: absolute;
  height: 25%;
  left: 1%;
}


/* selecteert elke 4e element - https://css-tricks.com/useful-nth-child-recipies/*/
article:nth-child(2) section ul li:not(:nth-child(4n-7)):after {
  content: "";
  width: calc(100% - 1em);
  border-bottom: 3px dashed var(--item-lijst-accenten);

  position: absolute;
  bottom: 0;
}

article:nth-child(2) section ul li:nth-child(4n-7) {
  margin-bottom: 0;
  padding-bottom: 1em;
  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--item-lijst-titel-bg);
}

article:nth-child(2) section ul li:nth-child(4n-7):not(:first-of-type) {
  margin-top: 1.5em;
}

article:nth-child(2) section:nth-child(2) ul li button img {
  height: 2em;
  /* cursor: url("../images/cursors/Move.cur"), auto; */
  z-index: 999;
}

/* selecteert alle elementen na de 6e child */
article:nth-child(2) section:nth-child(2) ul li:nth-child(n+6) button img {
  height: 2.3em;
}



/* --------------------------------- 
---------- STENEN SLEPEN -----------
------------------------------------*/

div {
  position: absolute;
  bottom: 5em;
  left: 10em;

  /* left: 50%;
  transform: translate(-50%, 0); */

  z-index: 999;
}



div img {

  height: 5em;

  /* ANIMATIE GEPROBEERD */

  /* position: absolute; */
  /* background-color: green; */

  /* animation-name: steenAnimatie;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    transform-origin: center center; */

  /* filter: drop-shadow(3px 3px 6px #e9ef75); */

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

/* ANIMATIE GEPROBEERD - .steenStyling */

/* @keyframes steenAnimatie {
  0% {
    transform: scale(1.5) rotate(-30deg);
  }

  50% {
    transform: scale(1.5) rotate(0);
  }

  100% {
    transform: scale(1.5) rotate(-30deg);
  }
} */

/* zorget ervoor dat het geen clone wordt */
.sortable-ghost {
  opacity: 0;
}

.sortable-chosen {

  /* Hier kan nog iets */
  /* transform: scale(2); */
}

div img {
  display: block;
}

/* haalt na slepen en loslaten de steen weg */
div img.wegsteen {
  display: none;
}



/* -------------------------- 
---------- FOOTER -----------
-----------------------------*/

footer {
  font-size: 12px;
  color: white;
  /* text-align: center; */

  margin-top: 2em;
}

/* VERBERGEN SCROLLBAR */
article:nth-child(2) section ul::-webkit-scrollbar,
article:nth-child(1) section:nth-child(2)::-webkit-scrollbar {
  display: none;
}



/* -------------------------- 
 ------ Media Queries -------
 ----------------------------  */

@media only screen and (max-width: 1300px) {

  article:nth-child(1) section:nth-child(2) button p {
    font-size: 10px;
  }

  article:nth-child(1) section:nth-child(1) ul li button img {
    height: 3em;
  }
}

/* stijling voor light/dark mode */
@media (prefers-color-scheme: light) {

  body {}
}

@media (prefers-color-scheme: dark) {

  /* body {
    background-color: var(--body-bg);
  }

  header {
    background-color: var(--venster-bg);
  } */
}